In [15]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn import preprocessing

Pclass - Passenger Class (1=1st, 2=2nd, 3=3rd)
survival - Survival (0-No, 1-Yes)
name - Name
sex - Sex
age - Age
sibsp - Number of Siblings/Spouses aboard
parch - Number of Parents/Children aboard
ticket - Ticket Number
fare - Passenger Fare (British pound)
cabin - Cabin
embarked - Port of Embarkation (C-Cherbourg, Q-Queenstown, S-Southhampton)
boat - LifeBoat
body - Body Identification Number
home.dest - Home/Destination

In [16]:
df = pd.read_excel('titanic.xls')
df.drop(['body', 'name'],1,inplace=True)
df.fillna(0, inplace=True)
df.head()

C:\Users\ritis\AppData\Local\Temp\ipykernel_20160\206389395.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df.drop(['body', 'name'],1,inplace=True)

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,female,29.0000,0,0,24160,211.3375,B5,S,2,"St Louis, MO"
1,1,1,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,"Montreal, PQ / Chesterville, ON"
2,1,0,female,2.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"
3,1,0,male,30.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"
4,1,0,female,25.0000,1,2,113781,151.5500,C22 C26,S,0,"Montreal, PQ / Chesterville, ON"

In [17]:
def handle_non_numerical_data(df):
    columns = df.columns.values
    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]
        if ((df[column].dtype != np.int64) and (df[column].dtype != np.float64)):
            column_contents = df[column].values.tolist()
            unique_elements = set(column_contents)
            x=0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1
            df[column] = list(map(convert_to_int, df[column]))
    return(df)

In [18]:
df = handle_non_numerical_data(df)
df.head()

,pclass,survived,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,home.dest
0,1,1,0,29.0000,0,0,749,211.3375,4,3,2,21
1,1,1,1,0.9167,1,2,503,151.5500,140,3,9,224
2,1,0,0,2.0000,1,2,503,151.5500,140,3,0,224
3,1,0,1,30.0000,1,2,503,151.5500,140,3,0,224
4,1,0,0,25.0000,1,2,503,151.5500,140,3,0,224

In [19]:
X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

C:\Users\ritis\AppData\Local\Temp\ipykernel_20160\2832402312.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df.drop(['survived'], 1).astype(float))

In [20]:
clf = KMeans(n_clusters=2)
clf.fit(X)

C:\Python\lib\site-packages\sklearn\cluster\_kmeans.py:1332: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=6.
  warnings.warn(

KMeans(n_clusters=2)

In [22]:
correct=0
for i in range(len(X)):
    predict_me = np.array(X[i].astype(float))
    predict_me = predict_me.reshape(-1, len(predict_me))
    prediction = clf.predict(predict_me)
    if prediction[0] == y[i]:
        correct += 1

print(correct/len(X))

0.6944232238349886